# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
/samples/idaithalam-excel-apitesting/conf/feature/virtualan-contract.0.feature
/samples/idaithalam-excel-apitesting/conf/feature/virtualan-contract.1.feature
