{{#feature}}
Feature: {{feature}} - API Contract validation status
{{/feature}}
    Scenario: Load initial set of data
      Given Provided all the feature level parameters from file
    {{#okta}}
    Scenario: Read the API token
      Given a user perform a api action
      And basic authentication with [okta_user_id] and [okta_user_password]
      When a user post application/json in api_token resource on okta_token
      Then Verify the status code is 200
      And Store the access_token value of the key as AccessToken
    {{/okta}}
{{#items}}
    Scenario: {{scenario}} - {{method}} api call
      Given a user perform a api action
      {{#okta}}
      And Bearer auth with [AccessToken] token
      {{/okta}}
      {{#hasPathParams}}
      And add request with given path params
      {{#pathParams}}
        | {{key}}                   | {{value}}                         |
       {{/pathParams}}
      {{/hasPathParams}}
      {{#hasQueryParams}}
      And add request with given query params
      {{#queryParams}}
        | {{key}}                   | {{value}}                         |
      {{/queryParams}}
      {{/hasQueryParams}}
      {{#hasHeaderParams}}
      And add request with given header params
      {{#headerParams}}
        | {{key}}                   | {{value}}                         |
      {{/headerParams}}
      {{/hasHeaderParams}}
      {{#hasInputJsonMap}}
      {{#isPost}}
      And Create api with given input
      {{/isPost}}
      {{#isPut}}
      And Update api with given input
      {{/isPut}}
      {{#inputJsonMap}}
        | {{key}}                   |  {{value}}                        |
      {{/inputJsonMap}}
      {{/hasInputJsonMap}}
      When a user {{action}} application/json in {{url}} resource on {{resource}}
      Then Verify the status code is {{httpStatusCode}}
      And Verify across response includes following in the response
      {{#hasOutputJsonMap}}
      {{#outputJsonMap}}
      | {{key}}                 |  {{value}}                          |
      {{/outputJsonMap}}
      {{/hasOutputJsonMap}}
    {{/items}}
