Feature: {{feature}} - API Contract validation status
    Scenario: Load initial set of data
      Given Provided all the feature level parameters from file
{{#items}}
  {{#okta}}
    @{{{resource}}}
    Scenario: Read the API token for {{{resource}}}
      Given a user perform a api action
      And basic authentication with [okta_user_id.{{{resource}}}] and [okta_user_password.{{{resource}}}]
      When a user post application/json in api_token resource on okta_token.{{{resource}}}
      Then Verify the status code is 200
      And Store the access_token value of the key as AccessToken.{{{resource}}}
  {{/okta}}
{{/items}}
{{#items}}
    {{#tags}}
    {{{tags}}} @{{{resource}}}
    {{/tags}}
    {{^tags}}
    @{{{resource}}}
    {{/tags}}
    Scenario: {{scenario}} - {{method}} api call
      Given a user perform a api action
      {{#okta}}
      And Bearer auth with [AccessToken.{{{resource}}}] token
      {{/okta}}
      {{#basicAuth}}
      And basic authentication with [basic_auth_user_id.{{{resource}}}] and [basic_auth_password.{{{resource}}}]
      {{/basicAuth}}
      {{#hasCreateParams}}
      {{#createParams}}
      And Add the {{{value}}} value of the key as {{{key}}}
      {{/createParams}}
      {{/hasCreateParams}}
      {{#hasFormParams}}
      And add request with {{contentType}} given form params
      {{#formParams}}
        | {{{key}}}                   | {{{value}}}                         |
      {{/formParams}}
      {{/hasFormParams}}
      {{#hasPathParams}}
      And add request with given path params
      {{#pathParams}}
        | {{{key}}}                   | {{{value}}}                         |
       {{/pathParams}}
      {{/hasPathParams}}
      {{#hasQueryParams}}
      And add request with given query params
      {{#queryParams}}
        | {{{key}}}                   | {{{value}}}                         |
      {{/queryParams}}
      {{/hasQueryParams}}
      {{#hasHeaderParams}}
      And add request with given header params
      {{#headerParams}}
        | {{{key}}}                   | {{{value}}}                         |
      {{/headerParams}}
      {{/hasHeaderParams}}
      {{#inputFile}}
       And add {{{inputFile}}} data file with {{contentType}} given input
      {{/inputFile}}
      {{#hasInputInline}}
       And add request data inline with {{contentType}} given input
      {{#inputInline}}
        | {{{.}}} |
      {{/inputInline}}
      {{/hasInputInline}}
      {{#stdInput}}
      And add {{stdInput}} data with {{contentType}} given input
      {{/stdInput}}
      {{#hasInputJsonMap}}
      {{#isPost}}
      And Create api with given input
      {{/isPost}}
      {{#isPut}}
      And Update api with given input
      {{/isPut}}
      {{#inputJsonMap}}
        | {{{key}}}                   |  {{{value}}}                        |
      {{/inputJsonMap}}
      {{/hasInputJsonMap}}
      When a user {{action}} {{contentType}} in {{url}} resource on {{resource}}
      Then Verify the status code is {{httpStatusCode}}
      {{#stdType}}
      {{#outputFile}}
      And Verify-standard {{stdType}} all {{{outputFile}}} file {{url}} api includes following in the response
      {{/outputFile}}
      {{#hasOutputInline}}
      And Verify-standard {{stdType}} all inline {{url}} api includes following in the response
      {{#outputInline}}
        | {{{.}}} |
      {{/outputInline}}
      {{/hasOutputInline}}
      {{/stdType}}
      {{^stdType}}
      {{#hasResponseByField}}
      And Verify across response includes following in the response
      {{#responseByField}}
       | {{{key}}}                 |  {{{value}}}                          |
      {{/responseByField}}
      {{/hasResponseByField}}
      {{#hasOutputFileByPath}}
      And Verify {{resource}} response {{contentType}} include byPath {{{outputFile}}} includes in the response
      {{#outputFileByPath}}
        | {{{.}}} |
      {{/outputFileByPath}}
      {{/hasOutputFileByPath}}
      {{^hasOutputFileByPath}}
      {{#outputFile}}
      And Verify api response XML File {{{outputFile}}} includes in the response
      {{/outputFile}}
      {{/hasOutputFileByPath}}
      {{#hasOutputInline}}
      And Verify api response inline includes in the response
      {{#outputInline}}
        | {{{.}}} |
      {{/outputInline}}
      {{/hasOutputInline}}
      {{#stdOutput}}
      And Verify api response with {{stdOutput}} includes in the response
      {{/stdOutput}}
      {{#hasOutputJsonMap}}
      And Verify-all {{url}} api includes following in the response
      {{#outputJsonMap}}
        | {{{key}}}                 |  {{{value}}}                          |
      {{/outputJsonMap}}
      {{/hasOutputJsonMap}}
      {{/stdType}}
      {{#hasStorageParams}}
      {{#storageParams}}
      And Store the {{{value}}} value of the key as {{{key}}}
      {{/storageParams}}
      {{/hasStorageParams}}
{{/items}}
